{% extends "catalog/base.html" %}
{% load my_tags %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card-header bg-primary text-white text-center" style="border-radius: 30px 30px 0 0;">
                    <h2>Аватар</h2>
                </div>
                <div class="card shadow-sm " style="border-radius: 30px;">
                    {% if object.avatar %}
                        <img src="{{ object.avatar | media_filter }}" alt="avatar">
                    {% else %}
                        <img src="{% static 'media_default/default_avatar.png' %}" alt="default_avatar">
                    {% endif %}
                </div>
                <div class="card-footer bg-primary text-white text-center" style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;" >
                    <p class="card-text" >{{ object.last_name }} {{ object.first_name }} | Тел.: {{ object.phone }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card shadow-sm " style="border-radius: 30px;">
                    <div class="card-header bg-primary text-white text-center" style="border-radius: 30px 30px 0 0;">
                        <h2>Профиль</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success" type="submit">Сохранить</button>
                            <a class="btn btn-outline-secondary" href="{% url 'catalog:product_list' %}"
                               role="button">Назад</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}