{% extends "catalog/base.html" %}
{% load my_tags %}
{% load static %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <a class="btn btn-outline-primary btn-circle-add d-flex justify-content-center align-items-center"
               href="{% url 'catalog:blogpost_create' %}"
               role="button">
                <img src="{% static 'crud_icons/add.png' %}" alt="Добавить" class="btn-add-icon">
            </a>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in object_list %}
                    <div class="col">
                    <div class="card shadow-sm product-card">
                        <img src="{{ post.preview_image | media_filter }}" alt="">
                        <div class="card-body">
                            <p class="card-text">{{ post.title | truncatechars:100 }}</p>
                            <div class="btn-group btn-group-wrapper">
                                <a class="btn btn-outline-secondary btn-circle"
                                   href="{% url 'catalog:blogpost_detail' post.pk %}"
                                   role="button" title="Инфо">
                                    <img src="{% static 'crud_icons/info.png' %}" alt="Инфо" class="btn-icon">
                                </a>
                                <a class="btn btn-outline-secondary btn-circle"
                                   href="{% url 'catalog:blogpost_update' post.pk %}"
                                   role="button" title="Изменить">
                                    <img src="{% static 'crud_icons/edit.png' %}" alt="Изменить" class="btn-icon">
                                </a>
                                <a class="btn btn-outline-secondary btn-circle"
                                   href="{% url 'catalog:blogpost_delete' post.pk %}"
                                   role="button" title="Удалить">
                                    <img src="{% static 'crud_icons/delete.png' %}" alt="Удалить" class="btn-icon">
                                </a>
                            </div>
                        </div>
                        <small class="text-body-secondary ms-3 mb-1"
                               style="color: gray;"> Последнее обновление: {{ product.updated_at }}</small>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}