{#{% extends "catalog/base.html" %}#}
{#{% block content %}#}
{#<div class="container mt-5">#}
{#    <div class="row justify-content-center">#}
{#        <div class="col-lg-6 col-md-8">#}
{#            <div class="card shadow-sm bg-light" style="border-radius: 30px;">#}
{#                <div class="card-header bg-primary text-white text-center" style="border-radius: 30px 30px 0 0;">#}
{#                    {% if object %}#}
{#                        <h2>Редактирование категории</h2>#}
{#                    {% else %}#}
{#                        <h2>Создание категории</h2>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <form method="post" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            {{ form.as_p }}#}
{#                            <button type="submit">Сохранить</button>#}
{#                        <a class="btn btn-outline-dark" href="{% url 'catalog:category_list' %}"#}
{#                           role="button">Отменить</a>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}