{% extends 'catalog/base.html' %}
{% load static %}
{% load form_tags %}
{% load my_tags %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            {% if user.is_authenticated %}
            <a class="btn btn-outline-primary btn-circle-add d-flex justify-content-center align-items-center"
               href="{% url 'catalog:create' %}"
               role="button">
                <img src="{% static 'crud_icons/add.png' %}" alt="Добавить" class="btn-add-icon">
            </a>
            {% endif %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for product in object_list %}
                    <div class="col">
                        <div class="card shadow-sm product-card">
                            <img src="{{ product.image_previews | media_filter }}" alt="">
                            <div class="card-body">
                                <p class="card-text">{{ product.name | truncatechars:100 }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group btn-group-wrapper">
                                        <a class="btn btn-outline-secondary btn-circle"
                                           href="{% url 'catalog:product_detail' product.pk %}"
                                           role="button" title="Инфо">
                                            <img src="{% static 'crud_icons/info.png' %}" alt="Инфо" class="btn-icon">
                                        </a>
                                        {% if user.is_authenticated %}
                                        <a class="btn btn-outline-secondary btn-circle"
                                           href="{% url 'catalog:edit' product.pk %}"
                                           role="button" title="Изменить">
                                            <img src="{% static 'crud_icons/edit.png' %}" alt="Изменить"
                                                 class="btn-icon">
                                        </a>
                                        <a class="btn btn-outline-secondary btn-circle"
                                           href="{% url 'catalog:delete' product.pk %}"
                                           role="button" title="Удалить">
                                            <img src="{% static 'crud_icons/delete.png' %}" alt="Удалить"
                                                 class="btn-icon">
                                        </a>
                                        {% endif %}
                                    </div>
                                    {%  if product.get_active_version.version_name %}
                                    <small class="version-info">Актуальная
                                        версия: {{ product.get_active_version.version_number }}
                                        - {{ product.get_active_version.version_name }}</small>
                                        {% else %}
                                        <small class="version-info">Версия не указана</small>
                                    {% endif %}
                                </div>
                            </div>
                            <small class="text-body-secondary ms-3 mb-1"
                                   style="color: gray;"> Последнее обновление: {{ product.updated_at }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
