{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img src="{{ product.image_previews | media_filter }}" alt="">
                        <div class="card-body">
                            <p class="card-text">Название: {{ object.name }}</p>
                            <p class="card-text">Описание: {{ object.description }}</p>
                            <p class="card-text">Цена: {{ object.price }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-secondary" href="{% url 'catalog:product_list' %}"
                                       role="button">Назад</a>
                                </div>
                                <small class="text-body-secondary"
                                       style="color: gray;"> {{ object.updated_at }}</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Характеристики</th>
                            <th scope="col"></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Название</th>
                            <td>{{ object.name }}</td>

                        </tr>
                        <tr>
                            <th scope="row">Наличие</th>
                            <td>{% if object.is_published %}
                                В наличии
                            {% else %}
                                Нет в наличии
                            {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Цена</th>
                            <td>{{ object.price }}</td>

                        </tr>
                        <tr>
                            <th scope="row">Состояние</th>
                            <td colspan="2">Новый</td>
                        </tr>
                        <tr>
                            <th scope="row">Категория</th>
                            <td>{{ object.product_category }}</td>

                        </tr>

                        <tr>
                            <th scope="row">Дата создания</th>
                            <td>{{ object.created_at }}</td>

                        </tr>
                        <tr>
                            <th scope="row">Дата последнего изменения</th>
                            <td>{{ object.updated_at }}</td>

                        </tr>
                        <tr>
                            <th scope="row">Владелец продукта</th>
                            {% if product.owner %}
                            <td>{{ product.owner }}</td>
                            {% else %}
                            <td>Базовый продукт (без владельца)</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row" class="text-primary border-light">Количество просмотров</th>
                            <td class="text-primary border-light">{{ object.views_counter }}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}