{% extends 'catalog/base.html' %}
{% load form_tags %}
{% load my_tags %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <a class="btn btn-outline-primary d-flex justify-content-center align-items-center"
                   href="{% url 'catalog:create' %}"
                   role="button"><h3 class="m-0">Добавить товар</h3></a>
                {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ product.image_previews | media_filter }}">
                            <div class="card-body">
                                <p class="card-text">{{ product.name | truncatechars:100 }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-secondary"
                                           href="{% url 'catalog:product_detail' product.pk %}"
                                           role="button">Инфо</a>
                                        <a class="btn btn-outline-secondary"
                                           href="{% url 'catalog:edit' product.pk %}"
                                           role="button">Изменить</a>
                                        <a class="btn btn-outline-secondary"
                                           href="{% url 'catalog:delete' product.pk %}"
                                           role="button">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <small class="text-body-secondary ms-3 mb-1"
                                   style="color: gray;"> Последнее обновление: {{ product.updated_at }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}