{% extends "catalog/base.html" %}
{% load static %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4">
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-primary btn-circle-add d-flex justify-content-center align-items-center mx-auto"
                       href="{% url 'catalog:version_create' %}"
                       role="button">
                        <img src="{% static 'crud_icons/add.png' %}" alt="Добавить новую версию" class="btn-add-icon">
                    </a>
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        {% for version in versions %}
                            <div class="col-12 mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        {% if version.version_is_valid %}
                                            (Актуальная)
                                        {% else %}
                                            (Неактуальная)
                                        {% endif %}
                                    </div>
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div>
                                            Номер версии:<strong> {{ version.version_number }}</strong> <br> Название версии:<strong> {{ version.version_name }}</strong>
                                        </div>
                                        {% if user.is_authenticated %}
                                        <div class="btn-group">
                                            <a class="btn btn-outline-secondary btn-circle"
                                               href="{% url 'catalog:version_update' version.pk %}"
                                               role="button" title="Изменить">
                                                <img src="{% static 'crud_icons/edit.png' %}" alt="Изменить"
                                                     class="btn-icon">
                                            </a>
                                            <a class="btn btn-outline-secondary btn-circle"
                                               href="{% url 'catalog:version_delete' version.pk %}"
                                               role="button" title="Удалить">
                                                <img src="{% static 'crud_icons/delete.png' %}" alt="Удалить"
                                                     class="btn-icon">
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
